<div>
    <h2>Flys</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="fly.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                       >Create new Fly
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="number"><span>Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="old"><span>Old</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="here"><span>Here</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="troll.id"><span>troll</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fly in flys track by fly.id">
                    <td><a ui-sref="fly.detail({id:fly.id})">{{fly.id}}</a></td>
                    <td>{{fly.number}}</td>
                    <td>{{fly.old}}</td>
                    <td>{{fly.here}}</td>
                    <td translate="{{'mountyhubApp.FlyType.' + fly.type}}">{{fly.type}}</td>
                    <td>{{fly.name}}</td>
                    <td>
                        <a ui-sref="troll.detail({id:fly.troll.id})">{{fly.troll.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="fly.detail({id:fly.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="fly.edit({id:fly.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="fly.delete({id:fly.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
