<div class="row" ng-show="!troll.name">
    <div class="container-fluid">
        <jh-alert></jh-alert>
        <jh-alert-error></jh-alert-error>
        <h4>
            Vous n'avez pas de Troll associé à votre compte.
            <br>
            <br>
            Vous devez tout d'abord en ajouter un afin d'utiliser pleinement MountyHub !
        </h4>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="number">Numéro du troll</label>
            <input type="text" class="form-control" id="number" ng-model="troll.number">
        </div>
        <div class="form-group">
            <label for="restrictedPassword">Mot de passe restreint</label>
            <input type="password" class="form-control" id="restrictedPassword" ng-model="troll.restrictedPassword">
        </div>
        <button class="btn btn-primary" ng-click="addTroll()">Ajouter mon troll</button>
    </div>
</div>
<div class="row" ng-show="troll.name">
    <h1 class="text-center">{{troll.name}} <a
        href="http://games.mountyhall.com/mountyhall/View/PJView.php?ai_IDPJ={{troll.number}}"
        target="_blank">{{troll.number}}</a></h1>
    <h3 class="text-center">{{troll.race}} niveau {{troll.level}} né le {{troll.birthDateFormatted}}</h3>
    <div class="col-md-6">
        <h4 class="text-center">Caractéristiques <span class="glyphicon glyphicon-refresh" aria-hidden="true"
                                                       ng-click="refreshProfil('characteristic')"
                                                       uib-tooltip="Mise à jour il y a {{troll.lastCharacteristicDate}}"></span>
        </h4>
        <table class="table" style="background-color: white">
            <tr>
                <th>Nom</th>
                <th class="text-center">Base</th>
                <th class="text-center">Physique</th>
                <th class="text-center">Magique</th>
                <th class="text-center">Total (moy.)</th>
            </tr>
            <tr ng-repeat="carac in caracs">
                <td>{{carac.n}}</td>
                <td class="text-center">{{troll[carac.p]}}{{carac.d}}</td>
                <td class="text-center{{addContext(troll[carac.p + 'P'])}}">{{addSign(troll[carac.p + 'P'])}}</td>
                <td class="text-center{{addContext(troll[carac.p + 'M'])}}">{{addSign(troll[carac.p + 'M'])}}</td>
                <td class="text-center">{{carac.a(troll[carac.p], troll[carac.p + 'P'], troll[carac.p + 'M'])}}{{carac.s
                    ? carac.d : ''}}
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <h4 class="text-center">État <span class="glyphicon glyphicon-refresh" aria-hidden="true"
                                           ng-click="refreshProfil('state')"
                                           uib-tooltip="Mis à jour il y a {{troll.lastStateDate}}"></span>
        </h4>
        <div class="progress">
            <div
                class="progress-bar progress-bar-{{troll.percentHitPoint > 66 ? 'success' : troll.percentHitPoint > 33 ? 'warning' : 'danger'}}"
                role="progressbar"
                style="width: {{troll.percentHitPoint}}%;">
                <span>{{troll.currentHitPoint}} / {{troll.hitPoint + troll.hitPointP + troll.hitPointM}} PV</span>
            </div>
        </div>
        <p class="text-center">X = {{troll.x}} | Y = {{troll.y}} | Z = {{troll.z}}</p>
        <table class="table" style="background-color: white">
            <tr>
                <td>Durée tour</td>
                <td class="text-right">{{troll.turnFormatted}}</td>
            </tr>
            <tr ng-if="troll.weightTimeFormatted">
                <td>Poids équipement</td>
                <td class="text-right">{{troll.weightTimeFormatted}}</td>
            </tr>
            <tr ng-if="troll.bonusMalusTimeFormatted">
                <td>Durée bonus/malus</td>
                <td class="text-right">{{troll.bonusMalusTimeFormatted}}</td>
            </tr>
            <tr ng-if="troll.woundsTimeFormatted">
                <td>Durée due aux blessures</td>
                <td class="text-right">{{troll.woundsTimeFormatted}}</td>
            </tr>
            <tr>
                <td>Durée tour total</td>
                <td class="text-right">{{troll.turnTotalFormatted}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-2">
        <h4 class="text-center">Appel scripts (24H)</h4>
        <table class="table" style="background-color: white">
            <tr>
                <th>Nom</th>
                <th class="text-center">Compteur</th>
            </tr>
            <tr>
                <td>Dynamique</td>
                <td class="text-center">{{troll.scriptDynamiqueByDay}}</td>
            </tr>
            <tr>
                <td>Statique</td>
                <td class="text-center">{{troll.scriptStatiqueByDay}}</td>
            </tr>
            <tr>
                <td>Message</td>
                <td class="text-center">{{troll.scriptMessageByDay}}</td>
            </tr>
            <tr>
                <td>Appel</td>
                <td class="text-center">{{troll.scriptAppelByDay}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <h4 class="text-center">Equipement <span class="glyphicon glyphicon-refresh" aria-hidden="true"
                                                 ng-click="refreshProfil('gear')"
                                                 uib-tooltip="Mise à jour il y a {{troll.lastGearDate}}"></span>
        </h4>
        <table class="table" style="background-color: white">
            <tr>
                <th>Equipé</th>
                <th>Type</th>
                <th>Nom</th>
                <th>Effet</th>
                <th>Poids</th>
            </tr>
            <tr ng-repeat="gear in troll.gears | filter:{weared:true}">
                <td>Oui</td>
                <td>{{gear.type | capitalize}}</td>
                <td>{{gear.name}} {{gear.template}}</td>
                <td>{{gear.description}}</td>
                <td>{{gear.weight}} min</td>
            </tr>
            <tr ng-repeat="gear in troll.gears | filter:{weared:false}">
                <td>Non</td>
                <td>{{gear.type | capitalize}}</td>
                <td>{{gear.name}} {{gear.template}}</td>
                <td>{{gear.description}}</td>
                <td>{{gear.weight}} min</td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <h4 class="text-center">Divers</h4>
        <button class="btn btn-danger" ng-click="deleteTroll()">Supprimer mon troll</button>
    </div>
</div>
