
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySpellLabel">Create or edit a Spell</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="spell.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_percent">Percent</label>
            <input type="number" class="form-control" name="percent" id="field_percent"
                    ng-model="spell.percent"
                    required />
            <div ng-show="editForm.percent.$invalid">
                <p class="help-block"
                    ng-show="editForm.percent.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.percent.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_percentBonus">PercentBonus</label>
            <input type="number" class="form-control" name="percentBonus" id="field_percentBonus"
                    ng-model="spell.percentBonus"
                    required />
            <div ng-show="editForm.percentBonus.$invalid">
                <p class="help-block"
                    ng-show="editForm.percentBonus.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.percentBonus.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_level">Level</label>
            <input type="number" class="form-control" name="level" id="field_level"
                    ng-model="spell.level"
                    required />
            <div ng-show="editForm.level.$invalid">
                <p class="help-block"
                    ng-show="editForm.level.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.level.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_spellMH">spellMH</label>
            <select class="form-control" id="field_spellMH" name="spellMH" ng-model="spell.spellMH" ng-options="spellMH as spellMH.id for spellMH in spellmhs track by spellMH.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_troll">troll</label>
            <select class="form-control" id="field_troll" name="troll" ng-model="spell.troll" ng-options="troll as troll.id for troll in trolls track by troll.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
