<div>
    <h2>Gears</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="gear.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                       >Create new Gear
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="number"><span>Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weared"><span>Weared</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="identified"><span>Identified</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="template"><span>Template</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weight"><span>Weight</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="attack"><span>Attack</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="attackM"><span>AttackM</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dodge"><span>Dodge</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dodgeM"><span>DodgeM</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="damage"><span>Damage</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="damageM"><span>DamageM</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="regeneration"><span>Regeneration</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hitPoint"><span>HitPoint</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="view"><span>View</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rm"><span>Rm</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mm"><span>Mm</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="armor"><span>Armor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="armorM"><span>ArmorM</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="turn"><span>Turn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="troll.id"><span>troll</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="gear in gears track by gear.id">
                    <td><a ui-sref="gear.detail({id:gear.id})">{{gear.id}}</a></td>
                    <td>{{gear.number}}</td>
                    <td>{{gear.weared}}</td>
                    <td translate="{{'mountyhubApp.GearType.' + gear.type}}">{{gear.type}}</td>
                    <td>{{gear.identified}}</td>
                    <td>{{gear.name}}</td>
                    <td>{{gear.template}}</td>
                    <td>{{gear.description}}</td>
                    <td>{{gear.weight}}</td>
                    <td>{{gear.attack}}</td>
                    <td>{{gear.attackM}}</td>
                    <td>{{gear.dodge}}</td>
                    <td>{{gear.dodgeM}}</td>
                    <td>{{gear.damage}}</td>
                    <td>{{gear.damageM}}</td>
                    <td>{{gear.regeneration}}</td>
                    <td>{{gear.hitPoint}}</td>
                    <td>{{gear.view}}</td>
                    <td>{{gear.rm}}</td>
                    <td>{{gear.mm}}</td>
                    <td>{{gear.armor}}</td>
                    <td>{{gear.armorM}}</td>
                    <td>{{gear.turn}}</td>
                    <td>
                        <a ui-sref="troll.detail({id:gear.troll.id})">{{gear.troll.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="gear.detail({id:gear.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="gear.edit({id:gear.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="gear.delete({id:gear.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
